
.sidebar {
  font-size: 12px;
  background-color:steelblue;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  height: 740px;
  width: 150px;
  margin-left: 15px;
  align-content: center;

}



.main {
  font-size: 10px;
  background-color:steelblue;
  display:inline-block;
  padding: 20px;
  border-radius: 10px;
  width: 1200px;
  height: 740px;
  margin-left: 5px;
  vertical-align: top;

}
.header {
  background-color: azure;
  margin: 1px;
  text-align: center;
  border-radius: 10px;
 display: block;
}

.function {
  background-color: orange;
  margin: 10px;
  height: 250px;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 10px;

}
.f1,
.f2 {
  background-color: aliceblue;
  margin: 20px;
  width: 520px;
  height: 190px;
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
button {
  font-size: 15px;
  background-color: gray;
  color: white;
  padding: 7px 16px;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  margin-left: 40px;
  margin-top: 20px;
  display: block;

}
