body {
  font-family: Montserrat;
  min-height: 96vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header header"
    "side main";
}

/*   HEADER  ELEMENTS */
.header {
  /*background-image: linear-gradient(to right, #4c70af , #3fdfff);*/
  background-color: rgb(44, 134, 202);
  grid-area: header;
  align-items: center;
  margin-top: -20px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 13px;
}

p {
  color:white;
  font-family: Montserrat,sans-serif;;
  font-size: 27px;
  text-align: left;
  margin-left: 13%;
  margin-bottom: 10px;
}

/* SIDE BAR ELEMENTS*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: rgb(61, 72, 72);
  z-index: 50;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 50px;
  color: #ffffff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 40px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: rgb(57, 186, 212);
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block;
}
.sidebar .nav-links li i{
  height: 40px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: rgb(57, 186, 212);
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #ffffff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
/*test this laterr*/
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #000000;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 5px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

/*MAIN SECTION ELEMENTS*/
.main {
  background-color: #dcdfe7;
  grid-area: main;
  padding: 55px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas: 
  "c1 c2 c3 c4"
  "c5 c5 c5 c5";

}


/* BUTTONS */
.btn {
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  /*background-image: linear-gradient(#4CAF50, #4CAF50);*/
  background-color: #4c9eaf;
  color:#ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.15s, color 0.15s, transform 0.15s;
  margin-top: 20px;
}

.side-btn {
  width: 124.2px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
}
.signout-btn {
  margin-left: 680px;
  margin-top: 12px;
  font-family: Montserrat,sans-serif;
  font-size: 19px;
  background-color: transparent;
  color:#ffffff;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.15s, color 0.15s, transform 0.15s;
  padding: 5px 20px;
}

.tablebtn {
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  /*background-image: linear-gradient(#4CAF50, #4CAF50);*/
  background-color: #4c9eaf;
  color:#ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.15s, color 0.15s, transform 0.15s;
  padding: 5px 10px;
  margin: 5px;
}

.search-btn {
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  /*background-image: linear-gradient(#4CAF50, #4CAF50);*/
  width: 190px;
  background-color: #4c9eaf;
  color:#ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.15s, color 0.15s, transform 0.15s;
  margin-top: 20px;
  margin-left: 40px;
}

.import-btn {
  margin-left: 30px;
}

.btn:hover {
  transform: scale(1.1, 1.1);
  background-color: #75b4e1;
}
.search-btn:hover {
  transform: scale(1.1, 1.1);
  background-color: #75b4e1;
}
.delete-btn:hover{
  background-color: rgb(235, 0, 0);
  transform: scale(1.1, 1.1);
}
.update-btn:hover {
  background-color:dodgerblue;
  transform: scale(1.1, 1.1);
}
.export-btn:hover {
  background-color:dodgerblue;
  transform: scale(1.1, 1.1);
}
.tablebtn:active{
  opacity: 0.7;
  transform: scale(1, 1);
}
.btn:active {
  opacity: 0.7;
  transform: scale(1, 1);
}
.signout-btn:hover{
  background-color: rgb(100, 170, 255);
  color: white;
  transform: scale(1.1, 1.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::-webkit-file-upload-button {
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  /*background-image: linear-gradient(#4CAF50, #4CAF50);*/
  background-color: #4c9eaf;
  color:#ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.15s, color 0.15s, transform 0.15s;
  margin-top: 20px;
}
::-webkit-file-upload-button:active {
  opacity: 0.7;
}

::-webkit-file-upload-button:hover {
  transform: scale(1.1, 1.1);
  background-color: #75b4e1;
}

.h2 {
  font-size: 15px;
  color: #31474b; 
}

/* MAIN SECTION CARDS*/
.card {
  background-color: #f7f7f7;
  border-radius: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:nth-child(1) {
  grid-area: c1 / span 2;
}
.card:nth-child(2) {
  grid-area: c3 / span 4;
}
.card:nth-child(3) {
  grid-area: c5;
  width: 98.4%;
  height: 90%;
}

.txt-bar {
  margin-top: 50px;
  margin-left: 40px;
  background-color: #ffffff;
  height: 35px;
  width: 65%;
  border: 2px solid #788c90;
  border-radius: 15px;
  padding-left: 10px;
}

.card-header {
  margin: -20px;
  margin-left: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(to right, #4c9eaf , #3ff2ff);
  height: auto;
  width: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  text-indent: 60px;
  color: white;
  font-size: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 13px;
}

.card-header2 {
  margin: -20px;
  margin-left: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(to right, #4c9eaf , #3ff2ff);
  height: auto;
  width: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  text-indent: 60px;
  color: white;
  font-size: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 13px;
}

.p1 {
  display: flex;
  margin-top: 20px;
}



/*.card-header3 {
  margin: -20px;
  margin-top: 10px;
  margin-right: 57%;
  margin-bottom: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-image: linear-gradient(to right, #4c70af , #3fdfff);
  height: auto;
  width: auto;
  padding-top: 2%;
  text-indent: 50px;
  color: white;
  font-size: 10px;
}
*/

footer {
  font-size: 10px;
  height: 10px;
  
 } 


/*TABLE ELEMENTS (DATABASE TABLE PLACEHOLDER)*/
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
  max-height: 95%;
  margin-top: 10px;
  margin: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.tablebg {
  background-color: #fff;
}
.tablebg:nth-child(1) {
  grid-area: 1 /span 2;
}

.tablebg:nth-child(2) {
  grid-area: 3 /span 4;
}
.tablebg:nth-child(3) {
  grid-area: c5;
}
.table {
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
  display: flex;

}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  width: 10px;
}

.table td {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 5px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr th {
  background-color: rgb(44, 134, 202);
  color: white;
}
.table tr:hover {
  background-color: #ddd;
  transition: background-color 0.15s, color 0.15s;
}
